$h1-size: 29px;
$header-decrement: 6px;

h1, h2, h3 {
  color: #333;
  line-height: $line-height*2;
}

h4 {
  color: #333;
}

h1 {
  font-size: $h1-size;
  text-align: right;
  border-bottom: 3px solid #555;
  margin-bottom: $line-height;
}

h2 {
  font-size: $h1-size - $header-decrement;
  border-bottom: 2px solid #555;
}

h3 {
  font-size: $h1-size - ($header-decrement*2);
}

h4 {
  font-size: $h1-size - ($header-decrement*3);

  a {
    text-decoration: underline;
    color: inherit;
  }
}