@mixin symbol {
  position: absolute;
  right: 3px;
  bottom: 3px;
  height: 10px;
  width: 10px;
}

.project {
  float: left;
  box-shadow: 2px 2px rgba(0,0,0,0.1);

  border: $project-border solid #555;
  border-radius: 5px;
  margin: $project-separator;
  padding: $project-padding;

  .desc {
    font-size: 10px;
  }

  //------------------------------------------------------------------------------
  // Types of project
  &.deferred, &.waiting-on, &.hanging {
    opacity: 0.8;
  }

  //------------------------------------------------------------------------------
  // Hover goes after opacity definition above
  &:hover {
    box-shadow: none;
    border-color: #333;
    opacity: 1;
  }

  //------------------------------------------------------------------------------
  //Symbols that appear in project boxes
  .hanging {
  @include symbol;
  background-image: url('hanging.png');
  width: 14px;
  }

  .deferred {
    @include symbol;
    border-top: 3px solid red;
    background-color: white;
    padding: 0 1px;
    font: 9px Helvetica;
    text-align: center;
    box-shadow: 2px 2px rgba(0,0,0,0.1);
  }

  .waiting-on {
    @include symbol;
    background-image: url('waiting.png');
    height: 11px;
  }
}