#Config.yaml
# Modify data here to affect the running of the app
# Rename this file to config.yaml to use it in your app

#---------------------------------------
# File locations

# Where the kanban database is stored
database_location: ~/.kb/test.db

# The location of the kanban-fetch binary, for refreshing
binary_location: ~/bin/kanban-fetch

# Specify additional arguments to kanban-fetch here
# (will automatically populate "--out")
binary_options:
  - -x
  - Recurring Tasks,Template
  - -r
#---------------------------------------
# Board settings

# Define your columns in the columns variable below.
# Each column is one "block" wide by default, and the board can hold four "blocks" worth of columns.
# Each column can also have:
# - name: What it's called
# - include: Projects to include in this board (see statuses below). These count toward the "active project" limit
# - background: Projects to include in this board. These projects will be slightly greyed out, and will not count towards the active project limit
# - expanded: Show projects as large square tickets, rather than "folded" lozenges
# - limit: If set, the project count will display in red when it creeps over this limit

# Possible statuses (for include and background):
#
# * On hold: project manually marked "on hold"
# * Done: project manually marked "done"
# * Dropped: project manually marked "dropped"
# * Project deferred: Project has a deferral date in the future
# * Task deferred: First available task has a deferral date in the future (project is active)
# * Waiting on: First available task has a context that starts with "Waiting"
# * Hanging: No available tasks
# * Active: Project active, first task available
columns:
  - name: Backburner
    include:
      - On hold
      - Project deferred
  - name: Active
    width: 2
    include:
      - Active
    background:
      - Waiting on
      - Hanging
      - Task deferred
    limit: 5
    expanded: true
  - name: Completed
    include:
      - Done