-if array
  -array.keys.sort.each do |parent|
    .parent
      %h3.parent-title{class: (array[parent].all?(&:hideable?) && "hideable")}=parent
      -array[parent].each do |p|
        .project{ style:"background-color:#{@colours[parent]}", class:p.css_class}
          %h4
            %a{href: "omnifocus:///task/#{p.id}"}=p.name
          -if p.board == :active
            .desc
              -if p.num_tasks == 1
                1 task remaining
              -else
                #{p.num_tasks} tasks remaining
            -if p.deferred?
              .deferred=p.days_deferred
            -elsif p.status == "Waiting on"
              .waiting-on
            -elsif p.status == "Hanging"
              .hanging
      .clear