
@import 'styles/reset';
@import 'styles/typo';
@import 'styles/layout';
@import 'styles/headers';
@import 'styles/projects';



.clear {
  clear: both;
}

.danger { color: red;}
.nodanger { color: green;}

.refresh {
  position: fixed;
  top: 0px;
  left: 0px;
  font-family: "Entypo";
  font-size: 32px;
  padding: 4px;
}